.addcategory-container {
    font-family: 'Domine', serif;
    margin: 0;
    padding: 0;
}

.addcategory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
}

.addcategory-header-text {
    color: #4f3267;
    font-size: 35px;
    text-align: center;
}

.addcategory-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 3%;
    margin-left: 25%;
    background-color: #ebebff;
    padding: 20px;
    border-radius: 8px;
    width: auto;
    max-width: 500px;
    height: auto;
    min-height: 100px;
    box-sizing: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addcategory-card {
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ebebff;
    height: auto;
    width: 100%;
}

.addcategory-button {
    background: linear-gradient(to right, #DE57E5 0%, #8863FB 100%);
    color: #fff;
    border: 2px solid #4f3267;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 7px;
    transition: background 0.3s ease;
    cursor: pointer;
    align-self: center;
}

.addcategory-button:hover {
    background: #f6f3f9;
    color: #4f3267;
    border: 2px solid black;
}

.addcategory-back-button {
    background: linear-gradient(to right, #DE57E5 0%, #8863FB 100%);
    color: #fff;
    border: 2px solid #4f3267;
    text-align: center;
    border-radius: 30%;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    transition: background 0.3s ease;
    margin-right: 10px;
    height: 40px;
  }
  
  .addcategory-back-button:hover {
    background: #f6f3f9;
    color: #4f3267;
    border: 2px solid black;
  }

  
.addcategory-title {
    font-size: 25px;
}

.addcategory-label {
    font-size: 18px;
}